<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pract.mapper.OptLogMapper">

    <insert id="saveOne">
        insert into optlog (user_token, ip, type, description, model, opt_time, result)
        values (#{optlog.user_token}, #{optlog.ip}, #{optlog.type}, #{optlog.description}, #{optlog.model},
                #{optlog.opt_time}, #{optlog.result});
    </insert>

</mapper>